<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Expense</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
      <div class="jumbotron">
          <div>
            <a type="button" class="btn btn-outline-info" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"></path>
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"></path>
                </svg> Home
            </a>

                  <a type="button" class="btn btn-outline-info" href="/viewExpenses">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                              <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                            </svg>  View Expenses
                </a>
          </div>
          <h1><center>Input your expenses</center></h1>
      </div>
<div class="container">

    <div class="row">
        <form action="{{ url_for('trackExpense') }}" method="post">

          <div class="form-group">
            <label for="amount_id">$ Amount</label>
            <input type="text" class="form-control"  name="amount" id="amount_id" aria-describedby="amountHelp" placeholder="Enter amount">
            <small id="amountHelp" class="form-text text-muted">Input the expense amount.</small>
          </div>
          <div class="form-group">
            <label for="for_what_id">For What?</label>
            <input type="text" class="form-control" name="for_what"  id="for_what_id" placeholder="For what?">
          </div>

            <div class="form-group">
                        <label for="date">Date?</label>
                        <input type="date"  name="expense_data" class="form-control" id="date" placeholder="Date?">

                    <label class="form-check-label" for="now_id">Now?</label>

                    <input style="margin:5px;" type="checkbox" class="form-check-input" name="now" id="now_id">

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>
</body>
</html>