<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <br>
    <br>
    <br>
    <div class="alert alert-success" role="alert">
      This is a success alert—check it out!
    </div>

    <div>
        <a class="btn btn-success" href="{{ url_for('trackExpense') }}">Add Another</a>
        <a class="btn btn-secondary" href="{{ url_for('home') }}">Go to Home</a>
    </div>
</div>
</body>
</html>